.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.reg {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.categories {
  top: 208px;
  left: 23px;
  width: 304px;
  height: 294px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame {
  top: 0px;
  left: 0px;
  width: 304px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.text {
  left: 3.6986828666008345e-15px;
  color: rgba(22, 22, 22, 1);
  width: 304px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.line41 {
  top: 29px;
  left: 2.215715031426719e-14px;
  width: 304px;
  height: 1px;
  position: absolute;
}
.frame1 {
  top: 108px;
  left: 0px;
  width: 304px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.line51 {
  top: 27px;
  left: 0px;
  width: 304px;
  height: 1px;
  position: absolute;
}
.text02 {
  left: 3.377058315539509e-15px;
  color: rgba(117, 117, 117, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame2 {
  top: 267px;
  left: 0px;
  width: 304px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.line511 {
  top: 27px;
  left: 0px;
  width: 304px;
  height: 1px;
  position: absolute;
}
.text04 {
  left: 3.377058315539509e-15px;
  color: rgba(117, 117, 117, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3 {
  top: 214px;
  left: 0px;
  width: 304px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.line512 {
  top: 27px;
  left: 0px;
  width: 304px;
  height: 1px;
  position: absolute;
}
.text06 {
  left: 3.377058315539509e-15px;
  color: rgba(117, 117, 117, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4 {
  top: 161px;
  left: 0px;
  width: 304px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.line513 {
  top: 27px;
  left: 0px;
  width: 304px;
  height: 1px;
  position: absolute;
}
.text08 {
  left: 3.377058315539509e-15px;
  color: rgba(117, 117, 117, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame5 {
  top: 55px;
  left: 0px;
  width: 304px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.line52 {
  top: 27px;
  left: 0px;
  width: 304px;
  height: 1px;
  position: absolute;
}
.text10 {
  left: 3.552713678800501e-15px;
  color: rgba(117, 117, 117, 1);
  width: 304px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.scroll {
  top: 178px;
  left: 1886px;
  width: 0.00003496911085676402px;
  height: 800px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.vector33 {
  top: 0px;
  left: 0px;
  width: 0px;
  height: 800px;
  position: absolute;
}
.vector34 {
  top: 0px;
  left: 0px;
  width: 0px;
  height: 110px;
  position: absolute;
}
.photo {
  top: 178px;
  left: 421px;
  width: 1432px;
  height: 803px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.photo1 {
  top: 0px;
  left: 0px;
  width: 1432px;
  height: 682px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.rectangle95 {
  top: 0px;
  left: 0px;
  width: 458px;
  height: 682px;
  position: absolute;
  border-radius: 4px;
}
.rectangle98 {
  top: 0px;
  left: 487px;
  width: 458px;
  height: 677px;
  position: absolute;
  border-radius: 4px;
}
.rectangle99 {
  top: 0px;
  left: 974px;
  width: 458px;
  height: 677px;
  position: absolute;
  border-radius: 4px;
}
.pricelist {
  top: 701px;
  left: 0px;
  width: 1432px;
  height: 102px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.text12 {
  top: 52px;
  left: 174px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: line-through;
}
.text14 {
  top: 52px;
  color: rgba(22, 22, 22, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text16 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text18 {
  top: 52px;
  left: 487px;
  color: rgba(22, 22, 22, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text20 {
  left: 487px;
  color: rgba(22, 22, 22, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text22 {
  top: 52px;
  left: 974px;
  color: rgba(22, 22, 22, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text24 {
  left: 974px;
  color: rgba(22, 22, 22, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.rectangle106 {
  top: 52px;
  left: 272px;
  width: 183px;
  height: 45px;
  position: absolute;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.text26 {
  top: 62px;
  left: 293px;
  color: rgba(22, 22, 22, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.rectangle107 {
  top: 52px;
  left: 762px;
  width: 183px;
  height: 45px;
  position: absolute;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.text28 {
  top: 62px;
  left: 783px;
  color: rgba(22, 22, 22, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.rectangle108 {
  top: 54px;
  left: 1249px;
  width: 183px;
  height: 45px;
  position: absolute;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.text30 {
  top: 64px;
  left: 1270px;
  color: rgba(22, 22, 22, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.rectangle146 {
  top: 77px;
  left: 205px;
  width: 54px;
  height: 20px;
  position: absolute;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.text32 {
  top: 81px;
  left: 218px;
  color: rgba(22, 22, 22, 1);
  width: 30px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.hedder {
  top: 30px;
  left: 43px;
  width: 1810px;
  height: 114px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.group471 {
  top: 0px;
  left: 0px;
  width: 89px;
  height: 114px;
  position: absolute;
}
.frame34 {
  top: 30px;
  left: 114px;
  width: 235px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(22, 22, 22, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 10px;
}
.text34 {
  top: 13px;
  left: 60px;
  color: rgba(22, 22, 22, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group70 {
  top: 16px;
  left: 12px;
  width: 34.08749771118164px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.vector {
  top: 19.237548828125px;
  left: 0px;
  width: 34px;
  height: 3px;
  position: absolute;
}
.vector1 {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 3px;
  position: absolute;
}
.vector2 {
  top: 10px;
  left: 0px;
  width: 34px;
  height: 3px;
  position: absolute;
}
.frame35 {
  top: 30px;
  left: 410px;
  width: 875px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(83, 83, 83, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 10px;
}
.group71 {
  top: 12px;
  left: 11.999835968017578px;
  width: 152.0001678466797px;
  height: 30.296878814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.vector3 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 30px;
  position: absolute;
}
.text36 {
  top: 0px;
  left: 47px;
  color: rgba(117, 117, 117, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame37 {
  top: 30px;
  left: 1591px;
  width: 55px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(22, 22, 22, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.alarm {
  top: 12px;
  left: 12px;
  width: 31px;
  height: 31px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.alarm1 {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 31px;
  position: absolute;
}
.frame33 {
  top: 30px;
  left: 1673px;
  width: 55px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(22, 22, 22, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.lock1 {
  top: 13px;
  left: 15px;
  width: 24.289155960083008px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.vector4 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 28px;
  position: absolute;
}
.frame36 {
  top: 30px;
  left: 1755px;
  width: 55px;
  height: 54px;
  position: absolute;
}
.frame57 {
  top: 178px;
  left: 0px;
  width: 1920px;
  height: 902px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.backgroond {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 902px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 0.66);
}
.rectangle154 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 902px;
  position: absolute;
}
.frame56 {
  top: 109px;
  left: 619px;
  width: 682px;
  height: 685px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.go {
  top: 565px;
  left: 141px;
  width: 400px;
  height: 120px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.text38 {
  top: 102px;
  left: 104px;
  color: rgba(185, 185, 185, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Raleway;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text39 {
  color: rgba(185, 185, 185, 1);
}
.rectangle86 {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 85px;
  position: absolute;
  border-color: rgba(255, 183, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
}
.text41 {
  top: 26px;
  left: 76px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.repassword {
  top: 463px;
  left: 0px;
  width: 682px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.line521 {
  top: 59px;
  left: 0px;
  width: 682px;
  height: 1px;
  position: absolute;
}
.vector5 {
  top: 0px;
  left: 7px;
  width: 36px;
  height: 45px;
  position: absolute;
}
.text43 {
  top: 7px;
  left: 64px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.password {
  top: 322px;
  left: 0px;
  width: 682px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.line514 {
  top: 59px;
  left: 0px;
  width: 682px;
  height: 1px;
  position: absolute;
}
.vector6 {
  top: 0px;
  left: 4px;
  width: 36px;
  height: 45px;
  position: absolute;
}
.text45 {
  top: 7px;
  left: 61px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.email {
  top: 181px;
  left: 0px;
  width: 682px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.line53 {
  top: 59px;
  left: 0px;
  width: 682px;
  height: 1px;
  position: absolute;
}
.text47 {
  top: 4px;
  left: 61px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vector7 {
  top: 0px;
  left: 0px;
  width: 45px;
  height: 45px;
  position: absolute;
}
.up {
  top: 0px;
  left: 98px;
  width: 659px;
  height: 67px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.text49 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Esqadero FF CY 4F;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vector8 {
  top: 0px;
  left: 629px;
  width: 30px;
  height: 30px;
  position: absolute;
}